In [16]:
import numpy as np
import pandas as pd
import pandas_ta as pta

In [39]:
BTC = pd.read_csv("/home/joe/code/J0eDub/crypto_market_assistant/raw_data/BTCUSDT_daily.csv")
RSI = pta.rsi(BTC['close'], length = 14)    #Calc RSI
RSI = RSI.replace(np.NaN, 50)               #clean NAN values
BTC["RSI"] = RSI                            #Add RSI column to BTC df

# Add RSI Class to df
# [-1] Oversold <= 30
# [+1] Overbought >= 70
# [0]  Neutral 30-70
BTC['RSI_class'] = np.where(RSI > 70, 1, np.where(RSI < 30, -1, 0))

In [40]:
ADX_df = pta.adx(BTC['high'], BTC['low'], BTC['close'], length=14) #Calc ADX
ADX = ADX_df.drop(columns=["DMP_14", "DMN_14"]) #Clean up columns
ADX = ADX.replace(np.NaN, 0)                    #Clean NaN values
BTC["ADX"] = ADX                                #Add RSI column to BTC df

# Add ADX_Class to df
#[1] 0 – 25	    Absent or Weak Trend
#[2] 25 – 50	Strong Trend
#[3] 50 – 75	Very Strong Trend
#[4] 75 – 100	Extremely Strong Trend
BTC['ADX_class'] = np.where(ADX <= 25, 1,
                    np.where(ADX <= 50, 2,
                        np.where(ADX <= 75, 3,
                            4)))

,time,open,high,low,close,volume BTC,volume USD,RSI,RSI_class,ADX,ADX_class
0,2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,3.454770e+06,50.000000,0,0.000000,1
1,2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,5.086958e+06,50.000000,0,0.000000,1
2,2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,1.549484e+06,50.000000,0,0.000000,1
3,2017-08-20,4139.98,4211.08,4032.62,4086.29,467.083022,1.930364e+06,50.000000,0,0.000000,1
4,2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,2.797232e+06,50.000000,0,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...
2292,2023-11-26,37780.67,37814.63,37150.00,37447.43,21264.537230,7.973212e+08,59.491179,0,49.820956,2
2293,2023-11-27,37447.42,37569.23,36707.00,37242.70,30001.073760,1.112557e+09,57.971991,0,47.651128,2
2294,2023-11-28,37242.70,38377.00,36868.41,37818.87,37544.466670,1.414360e+09,60.991085,0,46.384272,2
2295,2023-11-29,37818.88,38450.00,37570.00,37854.64,32994.191070,1.252587e+09,61.177540,0,45.270449,2
2296,2023-11-30,37854.65,38145.85,37500.00,37723.96,24740.291470,9.344911e+08,60.048302,0,44.117192,2